body{
    font-family: Bahnschrift;
    background-color: #c2b4ff;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.cinema{
    position: center;
    alignment: center;
    margin-left: 33%;
    margin-top: 4%
}

.footer{
    position: center;
    alignment: center;
    text-align: center;
    width: fit-content;
    margin-left: 36%;
    margin-top: 5%;
}

.flex-container{
    position: center;
    object-position: center;
    alignment: center;
    background-color: #1a0034;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.menu_item{
    font-family: Bahnschrift;
    background-color: #c2b4ff;
    width: 150px;
    alignment: center;
    position: center;
    object-position: center;
    text-align: center;
    border: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.center_menu_buttons{
    position: center;
    object-position: center;
    width: fit-content;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 19%;
}

.center_subpage_items{
    position: center;
    alignment: center;
    align-items: center;
    width: fit-content;
    object-position: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 43%;
    background-color: transparent;

}

form{
    position: center;
    alignment: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin-top:10%;
    margin-left: 10%;
}

input, select{
    width: 200px;
    border-radius: 10px;
    font-family: Bahnschrift;
}

h1{
    position: center;
    alignment: center;
    text-align: center;
    font-family: Bahnschrift;
}

.mother_fucker{
    background-color: #1a0034;
    text-decoration-color: white;
    color: white;
}

table{
    /* border-collapse: collapse; */
    border: 1px solid black;
    border-radius: 10px!important;
    width: max-content;
    margin-let: auto;
    position: center;
    alignment: center;
    text-align: center;
}

.table_design{
    position: center;
    alignment: center;
    text-align: center;
    align-content: center;
    align-items: center;
    margin-left: 17%;
}

th{
    background-color: #1a0034;
    border-radius: 10px;
    color: white;
    border: 1px transparent;
    text-align: center;
    padding: 2px;
}

td{
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}