<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
</head>
<body>

<h1>Add Another Movie</h1>
<form action = "/add" method="post">
    <label>Enter Movie Title</label>
    <input type="text" name="title">
    <br>
        <label>Enter Description</label>
        <input type="text" name="description">
    <br>
        <label>Enter Movie Duration</label>
        <input type="text" name="duration">
    <br>
        <label>Enter Movie Age Limit</label>
        <input type="text" name="age_limit">
    <br>
    <label>Enter Movie Genre</label>
    <input type="number" name="genres_id">
    <br>
    <input type="submit" value="add new movie"></type>

</form>

</body>
</html>