<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Extras</title>
    <link rel="stylesheet" href="layout.css" th:href="@{css/layout.css}">
</head>
<body>
<div th:replace="menu :: menu_template"></div>
<h1>Add Extras</h1>
<form action = "/addExtras" method="post">
    <label>Extras Name</label>
    <input type="text" name="name">
    <br>
    <label>Enter Price</label>
    <input type="number" step=".01" min ="0" name="price">
    <br>
    <label>Enter Stock Left</label>
    <input type="number" min="0" name="stock">
    <br>
    <input type="submit" value="Add Extras"></type>

</form>
<div th:insert="footer :: footer_template"></div>
</body>
</html>