<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Schedule</title>
</head>
<body>
<h1>Add Schedule</h1>
<form action = "/setSchedule" method="post">
    <label>Enter Start time</label>
    <input type="datetime-local" name="start">
    <br>
    <label>Enter End time</label>
    <input type="datetime-local" name="end">
    <br>
    <label>Enter Cinema</label>
    <input type="text" name="cinemaId">
    <br>
    <input type="submit" value="add new movie"></type>
</form>
</body>
</html>