<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Schedule</title>
    <link rel="stylesheet" href="layout.css" th:href="@{css/layout.css}">
</head>
<body>
<div th:replace="menu :: menu_template"></div>
</br>
</br>
</br>
<div class="center_subpage_items">
    </br>
    </br>
<h1>Add Schedule</h1>
<form action = "/setSchedule" method="post">
    <div><label>Enter start time</label><br>
    <input type="datetime-local" name="start">
    <br></div>
    <div><label>Enter end time</label><br>
    <input type="datetime-local" name="end">
    <br></div>
    <div><label>Enter cinema</label><br>
    <select id="roomId" name="roomId">
        <option value="1">Big Hall</option>
        <option value="2">Small Hall</option>
    </select>
    <br></div>
    <div><label>Assign movie to schedule</label><br>
    <select id="movieId" name="movieId">
    <option
            th:each="movieId : ${movies}"
            th:value="${movieId.movieId}"
            th:text="${movieId.title}"
            th:selected="${movieId.movieId==1}">
    </option>
    </select>
    <br><br></div>
    <div><input class="mother_fucker" type="submit" value="Add new showing"></div>
</form>
</div>
</br>
<div th:insert="footer :: footer_template"></div>
</body>
</html>